body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: black;


}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 12px; 
  padding: 16px;
   align-items: start;
}

.column {
  background: #262626;
  color: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 8px; 


}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  
  font-size: 14px;
  color: black;
}

.button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: 8px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .board {
    grid-template-columns: 1fr;
  }

  .column {
    width: 100%;
  }
}
